.Qsand{
    font-family: 'Quicksand', sans-serif !important;
    color: rgb(13, 14, 14);
}
.blurstyle{
    backdrop-filter: blur(10px);
}
.expandedm{
    padding: 2em;
}
.sbutton{
    font-size: large;
    color: gray;
    padding: .7em;
    border-radius: 1.5em;
    border: 2px solid;
    background-color: transparent;
}
.sbutton:hover{
    transition: opacity 0.5s;
}
.sbutton:active{
    transition: opacity 0.5s;
}
