#Ignore all
*

#Unignore all extensions
!*.*
#Unignore html doc

#Unignore the test files directory
!testFiles/
!testFiles/byteFiles/
!testFiles/kbFiles/
!testFiles/mbFiles/
!testFiles/gbFiles/
#Ignore all .png, .txt. pdf, .dat, .bmp, .ppt, .rar
#*.png
#*.txt
#*.pdf
frecuencias.txt
*.dat
#*.bmp
#*.zip
#*.ppt
#*.rar
#Unignore the instructions and log file
!log.txt
#Ignore the 100mb file
testFiles/mbFiles/100mb.pdf


