#Ignore all
*

#Unignore all extensions
!*.*

#Ignore the .dat and frecuency.txt
codificacion.dat
frecuencias.txt

#Unignore the report
!Reporte/
#Ignore extras, auto, complejidad, minted
Reporte/auto
Reporte/_minted-Reporte
Reporte/complejidad
Reporte/extras

#Unignore the test files directory
!testFiles/
!testFiles/byteFiles/
!testFiles/kbFiles/
!testFiles/mbFiles/
!testFiles/gbFiles/

#Ignore the 100mb file
testFiles/mbFiles/100mb.pdf
