#Ignore all
*

#Unignore all extensions
!*.*
#Unignore html doc
!html/
#Unignore the test files directory
!testFiles/
#Ignore all .png, .txt. pdf, .dat, .bmp, .ppt, .rar
*.png
*.txt
*.pdf
*.dat
*.bmp
*.zip
*.ppt
*.rar
#Unignore the instructions and log file
!log.txt

