*{box-sizing:border-box;}

form{
	width:800px;
	padding:26px;
	border-radius:10px;
	margin:50px;
	background-color:paleturquoise;
}

form label{
	width:200px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"]{
	width:80px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
form input[type="tiempo"]{
	width:150px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:red;
	background-color:white;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

