
#Contenedor {
    align-content: center;
    align-items: center;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
    margin-left: auto;
	margin-bottom: 0px;
	margin-left: 2001;
	background-color: purple;
}
body {
    align-items: center;
	font-family: Century Gothic, ;
	font-size: 20px;
	font-weight: normal;
	color: #0b0b0c;
	background-color: pink;
}


#Cabecera {
	background-color: #0b0b0c;
	margin: 0x;
	padding: 0px;
	color: #1c1b13;
	overflow: hidden;
	background-image: url(../images/encabezado.png);
}
#Cabecera p {
	padding-top: 6px;
	padding-left: 100px;
	padding-bottom: 20pt;
	color: #1c1b13;
	font-family: sans-serif;
}
#nav-principal {
	background-color:palegreen;
	overflow: scroll;
}
#nav-principal ul {
	margin: 010
	padding: 0;
	list-style-type: none;
	float: right ;
}
#nav-principal li {
	float: Left;
}
#nav-principal li a {
	color: #0b0b0c;
	background-color: bl;
	display: block;
	padding: 4px;
	font-weight: bold;
	text-decoration: none;
	font-family: "Agency FB";
	font-size: 40px;
}
#nav-principal li a hover {
	color: #1c1b13;
	background-color: #1c1b13;
	display: block;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}







#Cabecera h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
	font-weight: bold;
	color: #FFF;
	margin-top: px;
	padding-top: 15px;
}
#Destacado {
	overflow: auto ;
	color: #FFFFFF;
	font-family: "MS Serif", "New York", serif;
}
#texto-destacado {
	margin: 20px;
	padding: 3px;
	float: left;
	width: 500px;
}
#texto-destacado p {
	margin: 0px;
	padding: 0px;
}
#Contenido {
	overflow: auto;
}
#Contenido .caja {
	height: 250px;
	width: 250px;
	float: Center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
	padding: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #603;
	border-right-color: #603;
	border-bottom-color: #603;
	border-left-color: #603;
}
#Contenido img {
	margin: 5px;
	border: 3px solid #603;
}



#Pie {
	font-size: 0.85em;
	color: #FFF;
	background-color: #660033;
	padding: 50px;
	overflow: hidden;
	font-family: "MS Serif", "New York", serif;
}






